:root {
    --text-main-color: #ffffff;
    --text-second-color: #a4aab1;
    --input-main-color: #ffffff;
    --button-main-color: #ffffff;
    --link-main-color: #2ee78f;

    --font-main: 'Montserrat', Arial, sans-serif;
    --font-secondary: Arial, sans-serif;

    --font-size-base: 14px;

    --light-background: rgba(255,255,255,.1);
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn,
em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header,
menu, section, summary, time, mark, audio, video {margin:0; padding:0; border:0; outline:0; font-size:100%;}
article,aside,details,figcaption,figure,footer,header,menu,nav,section {display:block;}
input, button, a:focus {outline: none;}

a {text-decoration: none; cursor: pointer;}
a:hover {text-decoration: none;}

::-webkit-input-placeholder {color: var(--text-second-color); opacity: 1;}
     :-ms-input-placeholder {color: var(--text-second-color); opacity: 1;}
         ::-moz-placeholder {color: var(--text-second-color); opacity: 1;}
          :-moz-placeholder {color: var(--text-second-color); opacity: 1;}

html, body {margin: 0; padding:0; height: 100%; width: 100%; min-width: 320px; min-height: 600px;}
body {position: relative; background: #1C1F25; font-family: var(--font-main); font-weight: 500; color: var(--text-main-color);}
img {margin: 0; padding: 0; border: none; outline: none;}
input, button {font-family: var(--font-main); font-weight: 500; margin: 0; padding: 0; border: none; outline: none;}
input {color: var(--input-main-color);}
button {color: var(--input-main-color);}
form {padding: 0; margin: 0;}

.clearfix:after {content: ""; display: table; clear: both; height: 0;}

/*GLOBAL STYLES START*/
.separator {width: 100%; height: 1px; background-color: #4a4c51;}

.fab {padding-right: 6px;}

.title {font-size: 13px; font-weight: 700; line-height: 1.38; letter-spacing: 6.5px; text-transform: uppercase;}

.green-button {padding: 0; margin: 0; outline: none; border: none; border-radius: 6px; cursor: pointer;
    box-shadow: 0 3px 0 0 #1d7b4f, inset 0 1px 0 0 #92ffcb; background-image: linear-gradient(to top, #16c172, #27e68b);
    font-size: 16px; font-weight: 700; letter-spacing: 2.3px; text-align: center; color: var(--button-main-color);}

.tag {float: left; min-width: 56px; padding: 0 5px; text-align: center;
    background: var(--light-background); box-sizing: border-box;}
.platform-tags .tag {height: 24px; line-height: 24px; margin: 0 18px 15px 0;}
.platform-tags .tag img {float: left; padding: 3px 5px 0 0;}
.genre-tags .tag {height: 20px; line-height: 20px; margin: 0 13px 13px 0;}

.mobile-navigation,
.mobile-navigation-popup {display: none;}
/*GLOBAL STYLES END*/

/*HEADER START*/

header {width: 100%; background: transparent;}
header a, header a:visited, header a:active {color: var(--text-main-color); -webkit-transition: 0.25s; transition: 0.25s;}

/*FIRST HEADER START*/
.first-header {position: relative; width: 100%; height: 50px; box-sizing: border-box;
    background: transparent; font-size: var(--font-size-base); line-height: 28px; font-family: var(--font-main);}
.first-header .wrapper {display: block; width: 100%; height: 100%; margin: 0 auto; padding: 11px 30px; box-sizing: border-box;
    display: grid; grid-template-columns: 50% auto 45px 87px 40px 40px; grid-column-gap: 30px;
    grid-template-rows: 28px;}

    /*.brand {}*/
    .brand .logo {float: left; display: block; min-width: 28px; height: 28px; margin: 0; padding: 0;
        background: #eee; border-radius: 14px; margin-right: 17px;}
    .brand .brand-name {font-weight: 700;}

    .header-search {max-width: 370px; min-width: 300px; border: none; outline: none; padding-left: 35px; border-radius: 3px;
        background: #36353a url(../images/icons/search.svg) no-repeat 10px center; justify-self: end;}
    .first-header .login {text-align: center;}
    .first-header .register {text-align: center; line-height: 25px; transition: 0.25s;
        border: 1.5px solid var(--link-main-color); border-radius: 14px;}
    .first-header .register:hover {background: var(--link-main-color);}
    .first-header .language {text-align: center;}

    .cart {text-align: right;}
    .cart img {float: left; padding: 6px 4px 0 0;}
/*FIRST HEADER END*/

/*SECOND HEADER START*/
.second-header {position: relative; width: 100%; height: 140px; box-sizing: border-box; font-size: var(--font-size-base); line-height: 28px; font-weight: 700;
    background: rgba(0,0,0,.3); border: 1px solid rgba(255,255,255,.4); border-left: none; border-right: none;}
.second-header:before {content: ""; position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%;
    background: #123 url(../images/product/slide-2.jpg) no-repeat center 33%; background-size: cover; z-index: -1;}
.second-header .wrapper {display: block; width: 1170px; height: 100%; margin: 0 auto; padding: 56px 0; box-sizing: border-box;
    display: grid; grid-template-columns: 350px auto 350px; grid-column-gap: 10px; grid-template-rows: 28px;}
    /*.developer {}*/
    .dev-logo {float: left; display: block; width: 120px; height: 120px; padding: 0; margin: -46px 21px 0 0;
        background: #eee; border-radius: 60px;}
    .dev-name {font-size: 22px; font-weight: 700;}
    nav {display: grid; justify-content: center; grid-template-columns: repeat(3, auto); grid-column-gap: 35px;
        text-align: center;}
    .social {display: grid; justify-content: end; grid-template-columns: repeat(4, auto); grid-column-gap: 20px;
        font-size: 12px; text-align: center; }
    .social img {float: left; padding: 5px 5px 0 0;}
/*      .twitter {}
        .youtube {}
        .website {}*/
        .social-numbers {line-height: 28px;}
/*SECOND HEADER END*/

/*HEADER END*/

/*CONTENT START*/
content {display: block; width: 100%; color: var(--text-main-color);}
content .wrapper {display: block; max-width: 1170px; margin: 0 auto; padding: 35px 0 50px; box-sizing: border-box;
    display: grid; grid-template-columns: 1fr 370px; grid-template-rows: 70px auto; grid-column-gap: 30px; grid-row-gap: 18px;}
/*
'position: relative' in 'content .wrapper' create an issue for tabset in 'requirements' block
when after click on tab you are moved on top of page
*/
    .content-header {height: 70px;}
    .rating {height: 70px; background: #2b2b31; font-size: var(--font-size-base);}
        .rating .score {float: left; width: 70px; height: 70px; padding: 15px 0 0; box-sizing: border-box;
            background: #36353a; text-align: center; font-size: 18px; font-weight: 700;}
        .rating .score-text {font-size: var(--font-size-base);}
        .rating .text {float: right; width: 300px; height: 70px; padding: 11px 18px 5px 20px;
            overflow: hidden; box-sizing: border-box;}
    .content-title {width: 100%; height: 34px; padding-bottom: 12px; font-size: 28px;}
        .studio {font-size: var(--font-size-base); opacity: 0.5;}
    .user-rating {width: 100%; height: 25px; font-size: var(--font-size-base);}
        .user-score {float: left; height: 100%; padding: 0 6px; margin-right: 16px; line-height: 23px;
            border-radius: 2px; border: 1.5px solid #4a4c51; box-sizing: border-box;}
        .user-score img {float: left; padding: 4px 4px 0 0;}
        .user-rating-count {line-height: 25px;}

    .good-score {color: #16c172;}
    .medium-score {color: #ffd000;}
    .bad-score {color: #ff003c;}

    .content-description {font-size: var(--font-size-base); max-width: 770px;
        grid-column-start: 1; grid-column-end: 2; grid-row-start: 2; grid-row-end: 3;}

/*SLIDESHOW START*/
    /*This is bad*/
    .slideshow {width: 770px; margin-bottom: 65px;}
    .slideshow ul {list-style: none outside none; padding-left: 0; margin-bottom:0;}
    .slideshow li {display: block; float: left; margin-right: 0; cursor:pointer;}
    .slideshow img {display: block; height: auto; width: 100%;}
    /*...*/
    .lSAction>a {display: block; width: 50px; height: 100%; top: 0; background: var(--light-background); opacity: .5;
        cursor: pointer; -webkit-transition: opacity .35s linear 0s; transition: opacity .35s linear 0s;
        position: absolute; z-index: 99; margin-top: 0;}
    .lSAction>.lSNext {background-position: 0 0; right: 0;}
    .lSAction>.lSNext:before {content: "\f054";}
    .lSAction>.lSPrev {background-position: 0 0; left: 0;}
    .lSAction>.lSPrev:before {content: "\f053";}
    .lSAction>.lSNext:before, .lSAction>.lSPrev:before {display: inherit; font-size: 24px;
        text-align: center; font-weight: 900; line-height: 440px; font-family: 'Font Awesome 5 Free', sans-serif;}
    
/*SLIDESHOW END*/

/*DESCRIPTION START*/
    .main-description {width: 100%; border: 1px solid #4a4c51; border-radius: 4px; padding: 45px 0; box-sizing: border-box;}
    .main-description .wrap {width: 100%; padding-right: 65px; padding-left: 65px; box-sizing: border-box;}
    .main-description .title {width: 100%;}
    .game-info {}
        .game-info .title {padding-bottom: 15px;}
        .first-block {float: left; width: 290px;}
        .game-info .developer,
        .game-info .publisher,
        .game-info .released {width: 100%; padding-bottom: 30px;}
        .game-info .platforms {width: 100%; padding-bottom: 15px;}

        .second-block {float: left; width: 50%; width: calc(100% - 300px); padding-left: 10px;}
        .second-block .title {padding-bottom: 10px;}
        .second-block .genres {clear: left;}
        .game-info .tag {}

    .game-description {width: 100%; font-size: var(--font-size-base); line-height: 1.57;}
    .game-description .title {padding-top: 50px;}
    .game-description div {padding-bottom: 35px;}

    .game-description-images {display: block; width: 100%; width: calc(100% + 130px); min-height: 160px;
        margin: 0 -65px 30px -65px; padding: 0; background: #444;}
/*DESCRIPTION END*/

/*REQUIREMENTS START*/

    .game-requirements {}
    .game-requirements .title {padding: 50px 65px 15px;}
    .game-requirements {}

    .tabset > input[type="radio"] {position: absolute; left: -200vw;}
    .tabset img {float: left; padding: 4px 4px 0 0;}
    .tabset .tab-panel {display: none;}

    .tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
    .tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
    .tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
    .tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
    .tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
    .tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {display: block;}

    .tabset > label {position: relative; display: inline-block; width: 120px; height: 30px; padding: 7px 0;
        margin-right: 6px; background: rgba(153,153,153,.1); cursor: pointer; box-sizing: border-box;
        font-weight: 500; text-align: center;}
    .tabset > label:first-of-type {margin-left: 65px;}

    .tabset > label:hover,
    .tabset > input:focus + label {background: rgba(204,204,204,.1);}

    .tabset > input:checked + label {background: var(--light-background);}

    .tab-panels {background: var(--light-background); padding-bottom: 50px;}
    .tab-panel .subtitle {color: var(--text-second-color); padding: 10px 0;}

    .how-to-activate {}
    .how-to-activate div {padding-bottom: 25px;}
    .how-to-activate .title {padding: 50px 0 25px;}
    .how-to-activate .additional-text {color: var(--text-second-color);}
    .how-to-activate .link {color: var(--link-main-color);}
    .how-to-activate ul {list-style-type: none;}
    .how-to-activate li {padding-bottom: 25px; line-height: 1.57;}
/*REQUIREMENTS END*/

/*BUY IT START*/
.buy-it-wrapper {position: relative; display: block; width: 100%; height: 100%;}
    /*FLOW*/
    .on-top {position: static;}
    .on-flow {position: fixed; top: 20px; /*right: calc(50% - 585px); Managed by javascript*/}
    .on-bottom {position: absolute; bottom: 0;}
    /*STYLING*/
    .buy-it-block {display: table; width: 370px; grid-column-start: 2; grid-column-end: 3;
        font-size: var(--font-size-base); background: #2b2b31;}

    .buy-it-block .banner {display: block; width: 100%; padding: 0; margin: 0;}
    .buy-it-block .padding {padding: 15px 15px 20px;}
    .buy-it-block .tag {}
    .buy-it-block .description {padding: 0 5px 15px;}
    .buy-it-block .price {padding: 7px 0 20px;}
    .buy-it-block .price .discount {float: left; width: 84px; height: 35px; margin-right: 13px; padding: 7px 0;
        background-color: #ff003c; font-size: 20px; line-height: 21px; font-weight: 700; text-align: center; box-sizing: border-box;}
    .buy-it-block .price .current-price {float: left; font-size: 30px; line-height: 35px; font-weight: 700;}
    .buy-it-block .price .start-price {float: left; margin-left: 13px; font-size: 18px; line-height: 35px; font-weight: 700;
        text-decoration: line-through; opacity: 0.3;}
    .buy-it-block .price .countdown {float: left; clear: left; padding-top: 10px; font-size: var(--font-size-base);}
    .buy-it-block .price .countdown .time {text-decoration: underline; color: #ff003c;}

    .buy-it-block .add-to-cart {width: 100%; height: 60px; padding: 20px 0; text-transform: uppercase;}
    .buy-it-block .share {width: 100%; height: 18px; padding-top: 18px; color: rgba(255,255,255,.4); line-height: 18px;}
    .buy-it-block .share a {display: inline-block; width: 73px; height: 18px; padding-left: 20px; margin: 0 5px 0 15px;
        border-radius: 3px; font-size: 12px; line-height: 18px; text-align: center; box-sizing: border-box; cursor: pointer;}
    .buy-it-block .share a:hover {text-decoration: none;}
    .buy-it-block .share .facebook {background: #4647b6 url('../images/icons/facebook.svg') no-repeat left center;}
    .buy-it-block .share .twitter {background: #249fbc url('../images/icons/twitter.svg') no-repeat 3px center; background-size: 16px auto;}
/*BUY IT END*/

/*CONTENT END*/

/*FOOTER START*/
footer {width: 100%; background: #181a1f;
    color: var(--text-main-color); font-size: var(--font-size-base); font-family: var(--font-main);}
footer .wrapper {display: block; width: 1170px; margin: 0 auto;}

    .first-footer {width: 100%; height: 193px;}
    .first-footer .wrapper {padding: 70px 0 60px;}
    .first-footer .subscribe-text {float: left; width: 370px; padding: 6px 0; text-transform: uppercase;}
    .first-footer .subscribe-email {float: left; width: 400px; height: 60px; border-radius: 4px; border: solid 1.5px #4a4c51;
        padding: 0 25px; margin: 0 30px; background: transparent; font-size: var(--font-size-base); color: var(--text-second-color);}
    .first-footer .subscribe-button {float: left; width: 270px; height: 60px;}

    .second-footer {width: 100%; height: 325px;}
    .second-footer .wrapper {padding: 60px 0 20px;
        display: grid; grid-template-columns: repeat(4, 1fr); justify-content: space-between; grid-column-gap: 60px;}
    .second-footer .title {padding-bottom: 30px; font-size: var(--font-size-base);}
    .second-footer a {display: block; width: 100%; line-height: 2.14; color: var(--text-main-color);}
    .second-footer a:visited {color: var(--text-main-color);}
    .second-footer .ways-to-pay a {float: left; width: 43px; height: 30px; border-radius: 4px;
        background-color: #093689; color: transparent; font-size: 0; margin: 0 10px 10px 0;
        background-size: auto 30px; background-repeat: no-repeat; background-position: center center;}

    .ways-to-pay .mastercard {background-image: url(../images/icons/payments/mastercard.svg);}
    .ways-to-pay .visa {background-image: url(../images/icons/payments/visa.svg);}
    .ways-to-pay .maestro {background-image: url(../images/icons/payments/maestro.svg);}
    .ways-to-pay .paypal {background-image: url(../images/icons/payments/pay_pal.svg);}
    .ways-to-pay .american_express {background-image: url(../images/icons/payments/american_express.svg);}

    .copyright {width: 100%; height: 67px; background-color: #121418; line-height: 67px; color: var(--text-second-color);}

/*FOOTER END*/

@media only screen and (max-width: 1200px) {
    html, body {min-width: 1200px;}
}

